
/* Header styles */


.page-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 40px;
    align-items: center; 
}

.page-title__header {
    font-size: 16px;
    flex-grow: 1;
    margin: auto auto auto 0;
}

.page-title__time {
    font-size: 16px;
    flex-grow: 1;
    text-align: right;
}



/* fresh news underline */
.page-title__header__link {
    text-decoration: underline;
	color: inherit;
}

/*info header container */

.header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; 
}



/* Новостное агенство*/

.header-content__logo {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
    margin-right: 30px;
    height: 46PX;
    width: 120px;
    background-image: url(../images/logoo.png); 
    background-position-x: center;
    background-repeat: no-repeat;
}


/* Выбранный город */

.header-content__city {
display: inline-flex;
flex-flow: row wrap;
justify-content: space-between;
}


.header-content__city__change-button {
    padding-right: 20px;
    border: none; 
    background-size: contain;
    background-size: 20px;

    background-color: #ffffff00;
    background-image: url(https://icons.veryicon.com/png/o/miscellaneous/simple-and-round-line-mark/down-arrow-56.png);
    background-position: right center;
    background-repeat: no-repeat;
    
    color: #4a73bd;
    font-size: 16px;
    cursor: pointer;
}

.header-content__city__change-button_border-stye{
    border-bottom: dashed #4a73bd 1px;  
}

/*Погода  */
.header-content__weathel {
    margin-right: 30px;
    padding-left:  30px ;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    text-decoration: none;

    background-color: #ffffff00;
    background-image: url(../images/cloudy.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    
}



/* Search */

.header-content_search {
    margin-right: 0;
    position: relative;
 
}    

.header-content__search__input {
 
    background-color: #ffffff00;
    border: none;
    padding: 0px 40px 0px 15px;
    
    background-size: 300px;
    height: 36px;
    
    width: 300px;
    color: #292b2b;
    font-size:14px; resize:none;
    background-color: #bdbaba4f;
    border-radius: 25px;


}

.header-content__search__input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0; 
}


/*Кнопка поиска */

.header-content__search__button{
    border: none;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;


    position: absolute;
    top: 10px;
    right: 20px;

    cursor: pointer;

    background-color: #ffffff00;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}



/* list navigation style */

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}



.menu_item-style li {
   list-style-type: none;
    cursor: pointer;  
    margin: 0;
    padding: 0;
    position: relative;
    flex-grow: 1;
    text-align: center;
    
    
}
/* СОХР
.menu li:not(:last-child){
    background-size: contain;
    background-image: url(../images/slesh.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: default;
    padding-right: 20px;


}

.menu li:not(:first-child){
    margin-left: 20px;
}
*/

.menu li{
    background-size: contain;
    background-image: url(../images/slesh.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: default;
    padding-right: 20px;
    margin-left: 20px;

}
.menu li:first-child{
    margin-left: 0px;
}

.menu li:last-child{
   background-image: none;
   padding-right: 0;
}



.menu a {

    color: #010202;
    font-size: 16px;    
}

/* отступы для вариант разделителей 2
.menu a :not(:first-child){
    margin-left: 30px;
}
 */

/* вариант разделителей 1

.menu li + li ::before {
    content: "";
    padding-right: 20px;

    background-size: contain;
    background-image: url(../images/slesh.png);
    background-repeat: no-repeat;
    background-position: left;
    cursor: default;
   
}

*/

/*вариант разделителей 2

.menu li:not(:last-child)::after{
    content: "";
    padding-right: 30px;

    background-size: contain;
    background-image: url(../images/slesh.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: default;
}


*/


.space {
    flex-grow: 1!important;
}


.space-bottom-45{
    padding-bottom: 45px;

}

.space-top-30{
    padding-top: 30px;
}