
/*разметка стр на три колонки */
.three-columns-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

/*размеры боковых колонок*/
.side-columns-size{
    width: 250px;
}


/*фон для всех колонок*/ 

.content-background-color{
    background-color:  #ffffff;
}

/* левая колонка*/
/*отступы*/

.left-column{
    margin-bottom: 15px;
    position: relative;
    
}

.left-column > ul{
    padding: 0px 15px;
}

/*заголовок колонки*/
.left-column__title {
    margin: 0;
    padding: 20px 15px;
    border-bottom: solid #d8d6d6cc 1px;
    font-size: 20px;
}
/*заголовок новости*/
.left-column h3{
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    color: black;  
}

.left-column li{
    padding-bottom: 10px;
}

/*

/*блок хештег - время - комменты */

.left-column article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

/*хештег*/
.left-column a{
    color: #797777;
    flex-grow: 2;
}



/*комменты*/



.left-column__comment{
    margin-left: 15px;
    padding-left: 15px;
}


/* ссылка ВСЕ новости*/
.left-column__link-oll-news{
    line-height: 120px;
    margin-left: 35px;

    font-size: 14px;
    color: #4a73bd !important;
    border: solid #4a73bd 1px;
    border-radius: 25px;
    padding: 15px 40px; 
    text-align: center;
}



/*баннеры с рекламой*/
.banners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banners li{
    margin-bottom: 15px;
}

/* центральная колонка */
.main-column{

    margin: 0px 15px;
}
    
.main-column__list{
    display: flex; 
    flex-wrap: wrap;
    max-width: 470px;
    justify-content: space-between;
    position: relative;
}



/* главная новость баннер */
.main-column li:first-child {
    flex-grow: 2;   
    flex-shrink: 1;
    flex-basis: 100%;
    margin-bottom: 14px;
}



/* блоки с новостями */
.main-column li { 
    flex-grow: 1;   
    flex-shrink: 2;
    flex-basis: 48%;

}

/* заголовок новости*/
.main-column h3{
    padding-right: 20px;
}
    
/* расстояние между блоками новостей */
.main-column_even-space {
    margin: 0 7px 14px 0;
}

.main-column_odd-space {
    margin: 0 0 14px 7px;
}


/* время */
.main-column__time{
    margin-right: 20px;

}

/*комменты*/
.main-column__comment{
    margin-right: 60px;
    padding-left: 15px;

}

/* хештег*/
.main-column a:nth-child(2){
    color: #797777;
    flex-grow: 1;
}



/* выравнивание в ячейке новости*/
.main-column article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.main-column__big-img-block{
    padding: 0;
    margin: 0;

}

.big-img-parent-position{
	position: relative;
}


.main-column__img{
    position:absolute; left:0; right:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* главнвя новость c бюольшой картинкой */



.main-column__title{

    color: white;
    font-size: 25px;
    margin: 0 15px;
}


.main-column__hashtag{
    color: white !important;
    margin: 120px 15px 15px 15px;

}

.main-column__date{
    color: white;
    margin: 0 15px 15px 15px;


}

.main-column__date_space{
    margin-right: 15px;
}

/* нижний блок новостей*/ 


/*2 части нижнего блока */
.bottom-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: 40px;
    min-height: 330px;
}


/*самые читаемые новости */
.bottom-block__most-read{
    max-width: 450px;

}



.bottom-block__most-read h2{
    margin: 0;
    margin-bottom: 15px;
    padding: 20px 15px;
    border-bottom: solid #d8d6d6cc 1px;
    font-size: 20px;
}

.bottom-block__most-read__items{
    margin: 0 15px 15px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.bottom-block__most-read__items h3{
   margin: 0;
}

.bottom-block__most-read__items_space{
    margin: 30px 
}

.bottom-block__most-read__items__comment-space{
    padding-left: 17px;
}

.bottom-block__most-read__items-time-space{
    margin: 0 15px;
}

.bottom-block__most-read__items__hashtag{
    color: #797777;;
}


/* большая картинка с новостью*/
.bottom-block__big-banner{
    position: relative;

}


/* большой баннер нижней новости  */ 

.bottom-block__big-banner__img{
    position: absolute; 
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.bottom-block__big-banner__inside-img{
    z-index: 2;
    position: relative; 
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 550px; 
    
}


.bottom-block__big-banner__inside-img__title{
    color: white;
    font-size: 25px;
    margin: 0 15px 15px 15px;
}

.bottom-block__big-banner__inside-img__hashtag{
    color: white;
    margin: 120px  15px 15px 15px;
}

.bottom-block__big-banner__inside-img__date{
    color: white;
    margin: 0  15px 15px 15px;
}

.bottom-block__big-banner__inside-img__date_space{
    margin-right: 15px;
}

.bottom-block__big-banner__inside-img__text{
    color: white;
    max-width: 400px;
    line-height: 20px;
    margin: 0  15px 15px 15px;
}